logs
assets
cloth_local
crash-reports
deafaultconfigs
quickPlay
schematics
staging
webcache2
clientId.txt
launcher_accounts_microsoft_store.json
launcher_cef_log.txt
launcher*
options.txt
usercache.json
usernamecache.json
treatment_tags.json
updateSourceCache.json
ign
.qmenu_opened.marker

config/ccl.cfg
frontier_assets/installer_updater_src.spec
frontier_assets/dist

**.DS_Store

