logs
assets
cloth_local
crash-reports
deafaultconfigs
quickPlay
schematics
staging
webcache2
clientId.txt
launcher_accounts_microsoft_store.json
launcher_cef_log.txt
launcher*
options.txt
usercache.json
usernamecache.json
treatment_tags.json
updateSourceCache.json
ign
.qmenu_opened.marker

config/ccl.cfg
frontier_assets/installer_updater_src.spec
frontier_assets/dist

**.DS_Store

config

.mc_launcher_path.cache

versions/version_manifest_v2.json

Distant_Horizons_server_data/
bin/aff240bc8e180f349b2c13429d5756eb1a65b48f/
bin/d4abd45eda44d8516fe1c7a0c4f47a1dd04ab0d1/
saves/
screenshots/
servers.dat
servers.dat_old
versions/1.20.1/1.20.1.json
versions/1.21.4/
versions/25w02a/
versions/jre_manifest.json
xaero/